## Data Cleaning

Cleaning data from hospitals.csv and machine_readable_links.csv

In [16]:
import numpy as np
import pandas as pd
import psycopg2

In [32]:
# import sqlalchemy

# engine = sqlalchemy.create_engine('postgresql://postgres:postgres@localhost:5439/postgres')
# print(bool(engine)) # <- just to keep track of the process

# with engine.connect() as conn:
#     print(bool(conn)) # <- just to keep track of the process
    
#     df.to_sql(name=table_name, con=engine)
#     print("end") # <- just to keep track of the process

In [3]:
df_features=pd.read_csv('hospitals.csv')
df_links = pd.read_csv('machine_readable_links.csv')

In [4]:
df_features.head()

,street_address,phone_number,zip_code,has_501c3,fips_county_code,bed_count,city,state_or_region,name_common,name_legal,ccn,facility_type,medicare_medicaid_eligible,lat,lon,ein
0,1108 ross clark circle,3.347939e+09,36301,NaN,69.0,420,dothan,AL,southeast health medical center,NaN,010001,Short Term,True,NaN,NaN,NaN
1,2505 u s highway 431 north,2.565938e+09,35957,NaN,95.0,240,boaz,AL,marshall medical centers south campus,NaN,010005,Short Term,True,NaN,NaN,NaN
2,1701 veterans drive,2.567688e+09,35630,True,77.0,338,florence,AL,north alabama medical center,NaN,010006,Short Term,True,NaN,NaN,NaN
3,702 n main st,3.344934e+09,36467,NaN,39.0,99,opp,AL,mizell memorial hospital,NaN,010007,Short Term,True,NaN,NaN,NaN
4,101 hospital circle,3.343353e+09,36049,True,41.0,65,luverne,AL,crenshaw community hospital,NaN,010008,Short Term,True,NaN,NaN,NaN

In [6]:
subset_features = df_features.loc[:, ['bed_count', 'zip_code','ccn','medicare_medicaid_eligible']]
subset_features.head()
print(len(subset_features))
subset_features = subset_features.dropna()
print(len(subset_features))

7004
7004

In [7]:
df_links.head()

,ccn,reporting_entity_name_legal,reporting_entity_name_common,reporting_entity_type,machine_readable_url,machine_readable_url_status,machine_readable_page,supplemental_url,file_name,file_format,file_size,meets_standard,standard_issue,state_or_region,last_updated_date,entry_date,notes
0,390231,Abington Hospital Jefferson Health,Abington Hospital Jefferson Health,hospital,https://use2webtechstgpricelist.blob.core.wind...,up,https://www.abingtonhealth.org/app/security/lo...,NaN,23-1352152 _JAB001_Abington Hospital - Jeffers...,csv,NaN,NaN,NaN,PA,NaN,2022-10-29,NaN
1,390012,Lansdale Hospital Jefferson Health,Lansdale Hospital Jefferson Health,hospital,https://use2webtechstgpricelist.blob.core.wind...,up,https://www.abingtonhealth.org/app/security/lo...,NaN,26-3359979_JAB002_Abington - Lansdale Hospital...,csv,NaN,NaN,NaN,PA,NaN,2022-10-29,NaN
2,399808,The Hospital of the University of Pennsylvania,The Hospital of the University of Pennsylvania,hospital,https://www.pennmedicine.org/-/media/documents...,up,https://www.pennmedicine.org/for-patients-and-...,NaN,NaN,csv,NaN,NaN,NaN,PA,NaN,2022-10-29,NaN
3,390223,Penn Presbyterian Medical Center,Penn Presbyterian Medical Center,hospital,https://www.pennmedicine.org/-/media/documents...,up,https://www.pennmedicine.org/for-patients-and-...,NaN,NaN,csv,NaN,NaN,NaN,PA,NaN,2022-10-29,NaN
4,393303,Children's Hospital of Philadelphia,Children's Hospital of Philadelphia,hospital,https://media.chop.edu/data/files/finance/23-1...,up,https://www.chop.edu/centers-programs/billing-...,NaN,NaN,csv,NaN,NaN,NaN,PA,NaN,2022-10-29,NaN

In [11]:
subset_links = df_links.loc[:, ['ccn', 'state_or_region', 'reporting_entity_name_common', 'machine_readable_url']]
print("Before: ", len(subset_links))
subset_links = subset_links.dropna()
print("After:", len(subset_links))

Before:  7199
After: 3613

In [34]:
conn = psycopg2.connect(database="postgres", user="postgres", password="postgres", host="localhost", port=5432)
subset_features.to_sql('features', conn, if_exists='replace', index=False)
conn.close()

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': relation "sqlite_master" does not exist
LINE 1: SELECT name FROM sqlite_master WHERE type='table' AND name=?...
                         ^